@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Risque');


h1, #restart{
	font-family: 'Lobster', cursive;
	text-align: center;
	font-size: 3em;
	color: blue;
	margin:auto;
	background: black;
	}
#restart{
	width: 100%;
	display:inline-block;
	font-size: 2em;
		
}
	
#logo{
	width: 100px;
	height: 100px;
	box-shadow: 3px 3px 3px;
	}
.lien{
	margin: 0% 10% 0% 10%;
}
.textc {
	text-align: center;
}
.align {
	width:100px;
	margin: auto;
}

p a {
	text-decoration: none;
}

.center {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 5px;
}
.flexbarre {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 20px 0px 20px;
}
.clear {
	clear: all;
}
.flexfight {
	display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
}

.barre {
	border-radius:16px;
	margin:20px;
	padding: 0px;
	box-shadow: inset 0 1px 2px #000, 0 1px 0 #2b2b2b;
	z-index: 1;
}
.vie {
	height: 24px;
	background: green;
}
.gauche{
	float: left;
}

.droite{
	float: right;
	right:3%;
}

.pmfix { 
	display: block;
    position: absolute;
    width: 21%;
    height: 16px;
    padding: 4px;
    margin-left:10px;
    background-color: #191919;
    border-radius: 16px;
    box-shadow: inset 0 1px 2px #000, 0 1px 0 #2b2b2b;
    z-index:0;
}

.pm {
	height: 16px;
	background: lightblue;
	
}
.left {
	
    display: flex;
    justify-content: flex-start;
    margin: 5px;
}
.attak{
	padding-left: 50px;
	}
.fhome{
border: 1px black dashed;
border-radius: 50%;
}
.character {
	height:175px;
}
.select {
	transition:1s;
}
.select:hover{
	height:235px;
	}	
	
.attaque{
	height: 300px;
}
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 50%;
}
.legend {
	font-family: 'Lobster', cursive;
	font-size: 25px;
}
.label {
	color:blue;
	font-family: 'Risque', cursive;
	font-size: 25px;
}

.white{
	color: white;
}

.red {
	color:red;
}

.blue {
	color: blue;
}

.yellow {
	color: yellow;
}
.fin {
	padding: 10px;
	text-align: center;
	margin:auto;
}
#bodyhome {
	background-image: url('../img/home.png');
	background-size:cover
}

#bodyvs {
	background-image: url('../img/univers.jpg');
	background-size:cover;
	
}

#bodyfight {
	background-image: url('../img/arene.jpg');
	background-size:cover;
}

.fingood {
	font-family: 'Lobster', cursive;
	text-align: center;
	font-size: 3em;
	color: blue;
	margin:auto;
	padding-top: 6%;
	text-shadow: 2px 2px 5px #FF0000;
	}
.win {
	width:30%;
	background-size:cover;
	display:block;
	margin:auto;
	margin-top:-2%;
}
.gameover {
	display:inherit;
	margin: auto;
	width:75%;
	background-size:cover;
}
#bodyend{
	background-image: url('../img/win.jpg');
	background-size:cover;
}
.intro {
	margin:auto;
	display:block;

}
.background {
	background: black;
	margin:auto;
	padding:5%;
	display:block;
}